{
    "presets": [
        "@babel/preset-typescript",
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "targets": "> 0.25%, not dead"
            }
        ]
    ],
    "plugins": [
        "babel-plugin-styled-components",
        "@babel/plugin-transform-runtime"
    ]
}