{
    "minify": true,
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": false,
            "dynamicImport": false
        },
        "minify": {
            "compress": {
                "unused": true
            },
            "mangle": true
        },
        "target": "es2022"
    },
    "env": {
        "targets": "> 0.25%, not dead"
    }
}